// Originals
// $main-color: #ffec0b;
// $gray: #fff3c6;
// $lighter-gray: #f7dc7e;
// $white: #fae6ff;
// $background-color: #1d1d1d;
// $background-color-light: #242424;
// $shadow: rgba(20, 19, 20, 0.7);

// Originals
$main-color: #00e0a1;
$gray: #dcfffc;
$lighter-gray: #98f1d8;
$white: #fae6ff;
$background-color: #071010;
$background-color-light: #203333;
$shadow: rgb(1 2 2 / 70%);
