// // dark theme
// $main-color: #00e0a1;
// $gray: #dcfffc;
// $lighter-gray: #98f1d8;
// $background-color: #071010;
// $background-color-light: #203333;
// $shadow: rgb(1 2 2 / 70%);

// dark theme
$main-color: #003627;
$gray: #071010;
$lighter-gray: #003d2c;
$background-color: #ecfff8;
$background-color-light: #fff;
$shadow: rgb(1 2 2 / 70%);
